<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright 2014 ChinaBoxOffice </p>
        <p>北京 All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
