<!doctype html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/css/css.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
  <script src="components/jquery/dist/jquery.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.js"></script>
  <title><%- title %></title>
</head>
<body>
<div id="banner" class="container-fluid">
  <a href="#">
    <img src="img/baner.png" class="img-responsive" alt="">
  </a>
</div>
<div id="navbar" class="container">
  <div class="row">
    <div></div>
  </div>
  <nav class="navbar navbar-default">
    <div class="row">
      <div class="col-md-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="true" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="img/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#about">首页</a></li>
            <li><a href="#contact">票房</a></li>
            <li><a href="#contact">排片</a></li>
            <li><a href="#contact">中美</a></li>
            <li><a href="#contact">资讯</a></li>
            <li><a href="#contact">电视</a></li>
            <li><a href="#contact">影库</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </nav>
</div>

