<% include header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item active">单日排片</a>
        <a href="#" class="list-group-item">趋势分析</a>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">全国排片</a></li>
        <li><a href="#">地域排片</a></li>
        <li><a href="#">一线城市</a></li>
        <li><a href="#">二线城市</a></li>
        <li><a href="#">三线城市</a></li>
      </ul>
      <hr id="hr">
    </div>
  </div>
</div>
<% include footer %>
