body {
  font-family: "Microsoft YaHei UI";
}

.panel-heading {
  p {
    font-size: 18px;
    font-weight: bold;
    color: #129cf0;
    margin: 0 auto;
    &:hover {
      font-weight: bolder;
      color: #109bee;
    }
  }
}

#navbar .navbar-default {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  height: 60px;
  ul.nav {
    padding-left: 40px;
    list-style: none;
    li a {
      font-family: "Microsoft YaHei UI";
      font-size: 20px;
      color: #000;
      font-weight: 500;
      padding: 20px 20px;
    }
  }
  .form-group {
    margin: 10px 10px;
  }
}

#changeImg {
  background: url("../img/156682.jpg");
  height: 580px;
  background-size: cover;
  color: #030206;
  margin: 5px auto;
  vertical-align: middle;
  text-align: center;
  .glass {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 0 30px 0;
  }
  .container {
    background: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    border-radius: 4px;
  }
  .thumbnail {
    font-family: "Microsoft YaHei UI";
    display: block;
    padding: 4px;
    margin: 25px 10px 10px 10px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    text-align: left;
    img {
      height: 320px;
      width: 220px;
      margin: 0px auto;
    }
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 500;
      text-align: center;
    }
  }
}

#contents.row {
  margin-top: 65px;
  margin-right: -15px;
  margin-left: -15px;
  .page-header {
    padding-bottom: 9px;
    padding: 5px 5px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #eee;
  }
}

#leftnav {
  text-align: center;
  li {
    &:hover {
      background: #f5f5f5;
    }
    //&:visited {
    //  background: #f5f5f5;
    //  border-color: #f5f5f5;
    //}
  }
  a {
    color: #000;
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    $tags: (link, visited, active, hover);
    @each $key in $tags {
      &:#{$key} {
        text-decoration: none;
      }
    }
  }
}

#banner.container-fluid {
  width: 100%;
  height: 80px;
  background-color: #010104;
  text-align: center;
  overflow: hidden;
  a {
    vertical-align: top;
    display: inline-block;
    img {
      vertical-align: middle;
      width: 75%;
      height: 80px;
    }
  }

}

#today {
  .panel-default {
    border-color: #ddd;
    height: 600px;
  }
  a {
    font-family: "Microsoft YaHei UI";
    text-decoration: none;
    font-weight: 400;
    color: #129cf0;
  }

  .panel-body {
    p {
      span {
        font-weight: bold;
        &:first-child {
          margin-left: 10px;
          line-height: 20px;
          color: #129cf0;
          width: 16px;
          height: 16px;
        }
      }
    }
    table tbody tr:hover {
      color: #129cf0;
      font-weight: bold;
    }
  }
}

#comming-comtainer {
  .panel-body {
    a {
      font-family: "Microsoft YaHei UI";
      text-decoration: none;
      font-weight: 400;
      color: #129cf0;
    }
  }
  table tr {
    height: 43px;
  }
}

#history {

  img {
    width: 48px;
    height: 64px;
  }
  .media-list {
    li {
      font-family: "Microsoft YaHei UI";
      a {
        text-decoration: none;
        font-weight: 400;
        color: #129cf0;
      }
      span {
        border: 1px solid #129cf0;
        width: 20px;
        height: 20px;
        background: #129cf0;
        color: #FFFFFF;
        padding: 0px 2px;
      }
      h5 {
        font-weight: 500;
      }
      p {
        font-weight: 400;
      }
    }

  }
}

#news {
  font-family: "Microsoft YaHei UI";
  h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  p {
    line-height: 30px;
    padding-left: 25px;
  }
  ul {
    li {
      line-height: 40px;
      a {
        font-weight: bold;
        font-size: 14px;
        color: #000;
      }
    }
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: #129cf0;
  }
}

#hr {
  margin-top: 3px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid #eee;
}

#footer {
  background: rgba(248, 248, 248, 0.8);
  background: #d7f8c7;
  height: 75px;
  text-align: center;
  /*padding: 10px 0;*/
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}

