$boder-color: #eee;
$blue: #00A0E9;
body {
  font-family: "Microsoft YaHei UI";
}

.panel-heading {
  p {
    font-size: 18px;
    font-weight: bold;
    color: #129cf0;
    margin: 0 auto;
    &:hover {
      font-weight: bolder;
      color: $blue;
    }
  }
}

#navbar .navbar-default {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  height: 60px;
  ul.nav {
    padding-left: 40px;
    list-style: none;
    li a {
      font-family: "Microsoft YaHei UI";
      font-size: 20px;
      color: #000;
      font-weight: 500;
      padding: 20px 20px;
    }
  }
  .form-group {
    margin: 10px 10px;
  }
}

#changeImg {
  font-family: "Microsoft YaHei UI";
  background: url("../img/156682.jpg");
  height: 600px;
  background-size: cover;
  color: #030206;
  margin: 5px auto;
  vertical-align: middle;
  text-align: center;
  .glass {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 0 30px 0;
  }
  .container {
    background: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    border-radius: 4px;
  }
  .thumbnail {
    display: block;
    padding: 4px;
    margin: 25px 10px 10px 10px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    text-align: left;
    img {
      height: 320px;
      width: 220px;
      margin: 0px auto;
    }
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 500;
      text-align: center;
    }
  }
  h3 {
    color: #129cf0;
  }
  h4 {
    span#day {
      color: #f68b3d;
    }
  }
  .rimg-list {
    display: none;
    p {
      white-space: nowrap;
    }
  }
  .table > tbody > tr:hover {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    color: #129cf0;
  }
  #uptime {
    text-align: left;
    div {
      margin: -10px 0 5px 0;
      color: #141313;
      span {
        color: #129cf0;
      }
    }
    a {
      text-decoration: none;
      color: #129cf0;
    }
  }
}

#contents.row {
  margin-top: 65px;
  margin-right: -15px;
  margin-left: -15px;
  .page-header {
    padding-bottom: 9px;
    padding: 5px 5px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #eee;
  }
}

#leftnav {
  text-align: center;
  li {
    &:hover {
      background: #f5f5f5;
    }
    //&:visited {
    //  background: #f5f5f5;
    //  border-color: #f5f5f5;
    //}
  }
  a {
    color: #000;
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    $tags: (link, visited, active, hover);
    @each $key in $tags {
      &:#{$key} {
        text-decoration: none;
      }
    }
  }
}

#banner.container-fluid {
  width: 100%;
  height: 80px;
  background-color: #010104;
  text-align: center;
  overflow: hidden;
  a {
    vertical-align: top;
    display: inline-block;
    img {
      vertical-align: middle;
      width: 75%;
      height: 80px;
    }
  }

}

#today {
  .panel-default {
    border-color: #ddd;
    height: 605px;
  }
  a {
    font-family: "Microsoft YaHei UI";
    text-decoration: none;
    font-weight: 400;
    color: #129cf0;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      text-align: center;
      font-family: "Microsoft YaHei UI";
      color: #515151;
    }
  }
  .panel-body {
    p {
      margin: 5px 0;
      span {
        font-weight: bold;
        &:first-child {
          margin-left: 10px;
          line-height: 20px;
          color: #129cf0;
          width: 16px;
          height: 16px;
        }
      }
    }
    #canvas-container {
      width: 250px;
      height: 250px;
      text-align: center;
      margin-left: -5px;
    }
    table tbody tr {
      &:hover {
        color: #129cf0;
        font-weight: bold;
      }
    }
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      position: relative;
      min-height: 1px;
      padding: 0 5px;
    }
  }
}

#comming-comtainer {
  .panel-body {
    a {
      font-family: "Microsoft YaHei UI";
      text-decoration: none;
      font-weight: 400;
      color: #129cf0;
    }
  }
  table tr {
    height: 40px;
  }
}

#history {
  img {
    width: 48px;
    height: 64px;
  }
  .media-list {
    margin: 10px auto;
    li {
      font-family: "Microsoft YaHei UI";
      a {
        text-decoration: none;
        font-weight: 400;
        color: #129cf0;
      }
      span {
        border: 1px solid #129cf0;
        width: 20px;
        height: 20px;
        background: #129cf0;
        color: #FFFFFF;
        padding: 0px 2px;
      }
      h5 {
        font-weight: 500;
      }
      p {
        font-weight: 400;
      }
    }

  }
}

#news {
  font-family: "Microsoft YaHei UI";
  h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #000;
  }
  p {
    line-height: 30px;
    padding-left: 25px;
  }
  ul {
    li {
      line-height: 40px;
      a {
        font-weight: bold;
        font-size: 14px;
        color: #000;
      }
    }
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: #129cf0;
  }
}

#hr {
  margin-top: 3px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid #eee;
}

#paipian {
  font-family: "Microsoft YaHei UI";
  ul {
    &.nav {
      li {
        a {
          color: #636161;
        }
      }
    }
  }
  a {
    text-align: center;
    font-weight: 600;
    color: #00A0E9;
  }
  .list-group-item {
    border: 1px solid #eee;
    background-color: #fff;
    &.active {
      border-left: 5px solid #00A0E9;
    }
    &:focus, &:hover, &:visited {
      margin: 3px auto;
    }
  }
  #ppr-canvas-container  {
    width: 95%;
    height: 500px;
    border: 1px solid #eee;
    margin: 2px auto;
  }
  #ppcanvas-container {
    width: 280px;
    height: 280px;
    margin: 10px auto;
  }
  .pp-top-contaner {
    border: 1px solid $boder-color;
    margin: 4px 4px;
  }
  #lminfo, #rminfo {
    margin: 60px 0 20px 0;
    p {
      span:nth-child(1) {
        color: #129cf0;
      }
      line-height: 30px;
      font-size: 15px;
      white-space: nowrap;
    }
  }

  table {
    tr {
      td {
        text-align: center;
        vertical-align: middle;
        p {
          color: $blue;
        }
      }
      td:nth-child(1) {
        border: 1px solid #dfbfff;
        background: #e9e1ff;
        width: 80px;
      }
      td:nth-child(2) {
        border: 1px solid $boder-color;
      }
    }

  }

  #future {
    border-top: 3px solid #CCCCCC;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 0;
    a {
      color: #636161;
      text-decoration: none;
      &.active {
        background-color: $blue;
      }
      span {
        margin: 0px 25px;
      }
    }
  }
  .nav-pills > li.active > a {
    color: #fff;
    background-color: #00A0E9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  #ppcount {
    //border: 1px solid #ececfb;
    //margin-bottom: 20px;
  }
}

#footer {
  background: rgba(248, 248, 248, 0.8);
  //background: #d7f8c7;
  border-top: 3px solid #d7f8c7;
  height: 75px;
  text-align: center;
  /*padding: 10px 0;*/
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
}

#news-container {
  table {
    tr {
      border: 0 solid #ffffff;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
  font-family: "Microsoft YaHei UI";
  .nav-pills {
    li {
      width: 120px;
      height: 50px;
      border-radius: 0;
      text-align: center;
      a {
        color: #fff;
        background-color: #00A0E9;
      }
    }
  }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #00A0E9;
    border-color: #00A0E9;
  }
  table {
    font-size: 16px;
    color: #000;
    //font-weight: 400;
    tr {
      height: 45px;
      td {
        border: 0;
        background: url('../img/linea.gif') no-repeat 100px -75px;
        a {
          color: #000;
        }
        span {
          &:nth-child(2) {
            margin-left: 50px;
          }
        }
      }
    }
  }
}

